#primero {
    background-color: #2F265F !important;
}
#logo {
    background: url("../media/logo_nuevo.png") no-repeat;
    width: 150px;
    height: 80px;
    background-size:contain;
    margin: auto;
}
#ancho {
    justify-content: end;
}
#letras-nav {
    color: #4c3c7c;
}
#letras-nav:hover {
    color: #1a0b43;
}
#contenedor{
    background: url(../media/pexels-pok-rie-1432675.jpg) no-repeat;
    background-size: cover; 
    width: 100%;
    height: 800px;

}
